<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chinyao.mow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".mowtweebook.MowtweebookRestApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher_mow"
        android:label="@string/app_name"
        android:theme="@style/MowTheme"
        android:largeHeap="true"
        >
        <meta-data
            android:name="AA_DB_NAME"
            android:value="RestClient.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="12" />

        <!-- Mow Tweebook -->
        <activity
            android:name=".mowtweebook.activity.MowtweebookSplashActivity"
            android:taskAffinity=".mowtweebook.MowtweebookSplashActivity"
            android:icon="@mipmap/ic_launcher_mowtube"
            android:label="@string/mowtweebook_app_name"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cprest"
                    android:scheme="oauth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mowtweebook.activity.MowtweebookActivity"
            android:icon="@mipmap/ic_launcher_mowtube"
            android:label="@string/mowtweebook_app_name"
            android:theme="@style/MowtweebookTheme"/>

        <!-- Mow Digest -->
        <activity
            android:name=".mowdigest.MowdigestActivity"
            android:taskAffinity="mowdigest.MowdigestActivity"
            android:icon="@mipmap/ic_launcher_mowdigest"
            android:label="@string/mowdigest_app_name"
            android:theme="@style/MowdigestTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mowdigest.detail.YahooParallaxActivity"
            android:taskAffinity="mowdigest.MowdigestActivity"
            android:icon="@mipmap/ic_launcher_mowdigest"
            android:label="@string/mowdigest_app_name"
            android:theme="@style/MowdigestTheme"
            >
        </activity>

        <!-- Mowtube -->
        <activity
            android:name=".mowtube.MowtubeSplashActivity"
            android:taskAffinity=".mowtube.MowtubeSplashActivity"
            android:icon="@mipmap/ic_launcher_mowtube"
            android:label="@string/mowtube_app_name"
            android:theme="@style/SplashTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mowtube.MowtubeActivity"
            android:icon="@mipmap/ic_launcher_mowtube"
            android:label="@string/mowtube_app_name"
            android:theme="@style/MowtubeTheme"/>

        <!-- Mow -->
        <activity
            android:name=".mow.MowActivity"
            android:taskAffinity=".mow.MowActivity"
            android:icon="@mipmap/ic_launcher_mow"
            android:label="@string/mow_app_name"
            android:theme="@style/MowTheme"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mow.EditItemActivity"
            android:icon="@mipmap/ic_launcher_mow"
            android:label="@string/edit_item_title"
            android:theme="@style/MowTheme"
            android:windowSoftInputMode="stateAlwaysVisible"/>
    </application>

</manifest>