<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chinyao.mow">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/MowTheme"
        android:icon="@mipmap/ic_launcher_mow"
        >
        <activity
            android:name=".mowtube.MowtubeSplashActivity"
            android:theme="@style/SplashTheme"
            android:label="@string/mowtube_app_name"
            android:icon="@mipmap/ic_launcher_mowtube"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mowtube.MowtubeActivity"
            android:theme="@style/MowtubeTheme"
            android:label="@string/mowtube_app_name"
            android:icon="@mipmap/ic_launcher_mowtube"
            >
        </activity>
        <activity
            android:name=".mow.MowActivity"
            android:theme="@style/MowTheme"
            android:label="@string/mow_app_name"
            android:icon="@mipmap/ic_launcher_mow"
            android:windowSoftInputMode="stateAlwaysHidden"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".mow.EditItemActivity"
            android:theme="@style/MowTheme"
            android:label="@string/edit_item_title"
            android:icon="@mipmap/ic_launcher_mow"
            android:windowSoftInputMode="stateAlwaysVisible"
            >
        </activity>
    </application>

</manifest>